{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search Box</title>
        <!-- Link to the CSS file -->
        <link rel="stylesheet" href="{% static 'css/front.css' %}" />
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">Search Box</h1>
        </header>
        <main>
            <div class="search-container">
                <div class="search-box-wrapper">
                    <input
                        type="text"
                        id="search-box"
                        class="search-box"
                        placeholder="Search for something..."
                        oninput="showSuggestions(this.value)"
                    />
                    <button class="search-button">Search</button>
                </div>
                <ul id="suggestions-list" class="suggestions-list"></ul>
            </div>
        </main>
        <!-- Link to the JavaScript file -->
        <script src="{% static 'js/front.js' %}"></script>
    </body>
</html>
